.metric-item-list {

    transform: translateZ(0);
    max-height: 50vh;
    overflow-y: auto;
    border: 1px solid #AAA;

}
.metric-mb-1 {
    margin-bottom: .25rem !important;
}

.metric-row {
    width: 100%;
    display: flex;   
    border-bottom: 0.5px solid black;
    border-left: 0.5px solid black;
}

.metric-btn-foundry {
    width: 100%;
    background: rgba(255,255,255,0.75);
    border: 1px solid #AAA;
    font-size: 14px;
    line-height: 28px;
    font-family: "Signika";
}

.metric-flex-vh-center {
    display: flex;
    justify-content: center;

}
.metric-checkboxes {
    width: 10% !important;
    border-right: 1px solid #000;
}

.metric-radios {
    width: 50% !important;
    font-size: large;
}

.metric-2 {
    width: 10% !important;
    height: 1.1rem;
}

.metric-numberbox {
    width: 20% !important;
    border-right: 1px solid #000;
}

.metric-number {
    text-align: center;
}

.metric-numbers-head {
    width: 20% !important;
}

.metric-namebox {
    width: 75% !important;
    border-right: 1px solid #000;
}

.metric-name {
    text-align: center;
}

.metric-refbox {
    background-color: white;
    border: 1px solid #000;
    margin: 0 auto;
    width: 50%;
}

.metric-option {
    padding-bottom: 10px;

}

.metric-names-head {
    width: 75% !important;
}

.metric-flex-v-stretch {
    display: flex;
    align-items: stretch;
    text-align: center;
}

.metric-radio {
    align-items: center;
    justify-content: center;
}

.metric-choose {
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
}

.metric-title {
    text-align: center;
    font-weight: bold;
}