<form>
    <div>
        <p>{{localize "metricsystem.converter.distance.description"}}</p>
        <h4 class="metric-title">{{localize "metricsystem.converter.emphasis"}}</h4>
	</div>
	<div class="metric-flex-v-stretch input-group" data-name="wrp-btns-sort">
        <label class="metric-btn-foundry metric-checkboxes metric-flex-vh-center"><input type="checkbox" id="cb-select-all"></label>
        <label class="metric-btn-foundry metric-names-head" name="header">{{localize "metricsystem.converter.distance.header.name"}}</label>
        <label class="metric-btn-foundry metric-numbers-head" name="headerRang">{{localize "metricsystem.converter.distance.header.range"}}</label>
        <label class="metric-btn-foundry metric-numbers-head" name="headerTarget">{{localize "metricsystem.converter.distance.header.target"}}</label>
    </div>
	<div class="metric-item-list metric-mb-1">
        {{#each rows}}
        <label class="metric-row">
            <span class="metric-checkboxes metric-flex-vh-center metric-span"><input type="checkbox" class="metric-1" name="{{id}}" data-dtype="Boolean"></span>
            <span class="metric-namebox">{{{name}}}</span>
            <span class="metric-numberbox"><p class="metric-number">{{{range}}}/{{{long}}}</p></span>
            <span class="metric-numberbox"><p class="metric-number">{{{target}}}</p></span>
        </label>
        {{/each}}
    </div>

    <!---<div class="metric-choose">
        <span class="metric-checkboxes metric-flex-vh-center metric-span"><input type="checkbox" class="metric-1" name="speed" data-dtype="Boolean">Converter Deslocamento</span>        
    </div>--->

    <div class="metric-refbox">
        <h3 class="metric-title">{{localize "metricsystem.converter.ref.title"}}</h3>
        <p style="text-align: center;">{{localize "metricsystem.converter.distance.ref1"}}</p>
        <p style="text-align: center;">{{localize "metricsystem.converter.distance.ref2"}}</p>
    </div><hr>

    <h3 class="metric-title">{{localize "metricsystem.converter.footer.title"}}</h3>
    <div class="metric-choose">
        <label class="metric-radios metric-flex-vh-center metric-span"><input type="radio" class="metric-2" name="convert" value="m" data-dtype="Radio" checked="checked">{{localize "metricsystem.converter.distance.footer.tometric"}}</label>
        <label class="metric-radios metric-flex-vh-center metric-span"><input type="radio" class="metric-2" name="convert" value="ft" data-dtype="Radio">{{localize "metricsystem.converter.distance.footer.toimperial"}}</label>
    </div><br>
    <div>
        <label class="metric-flex-vh-center metric-span"><input type="checkbox" name="onlyunits" data-dtype="Boolean"><p class="metric-option">{{localize "metricsystem.converter.distance.option"}}</p></label>
    </div>
	<div>
		<button class="metric-btn" type="submit" name="submit" value="1"><i class="fas fa-ruler"></i>{{localize "metricsystem.converter.distance.submit"}}</button>
	</div>
</form>
